* {
	margin: 0 auto;
	text-align: center;
}
p{font-family: arial}

html, body {
	max-width: 640px;
	max-height: 640px; 
}

.building {
  	background: blue;
  	display: inline-block;
  	height: 110px;
  	margin-left: auto;
  	margin-top: 200px;
  	position: relative;
  	width: 200px;  
}

.building:before {
  	position: absolute;
  	border-bottom: 80px solid blue;
  	border-left: 100px solid transparent;
  	border-right: 100px solid transparent;
  	content: "";
  	height: 0;
  	width: 0;
  	left: 0;
    top: -80px;
}

.roofleft{
	position: relative;
	width: 10px;
	height: 150px;
	border-left:3px solid white ;
	background-color: yellow;
	transform: rotate(51deg);
	top: -124.5px;
	left: -55px;
}

.roofright{	
	position: absolute;
	width: 10px;
	height: 150px;
	border-right:3px solid white ;
	border-left: 1px solid yellow;
	background-color: yellow;
	transform: rotate(-51deg);
	top: -123.5px;
	right: 37px;
}
.chimneytop{
	position: absolute;
	background: blue;
	width: 27px;
	height: 6px;
	border:1px solid white;
	border-radius: 5px;
	bottom:184px;
	left:154px; 
}

.chimneyshoot{
	position: absolute;
	background: red;
	height: 30px;
	width: 24px;
	right: 20px;
	bottom: 152px;
	z-index:-1;
}
.chimneyshootbase{
	position: absolute;
    width: 0;
    height: 0;
    border-right: 28px solid red;
    border-top: 9px solid transparent;
    border-bottom: 23px solid transparent;
    right: 20px;
    bottom: 141px;
    z-index:-2;
}
.window{
	position: absolute;
	background: black;
	height: 30px;
	width: 40px;
}
.winpositiontop {
	right: 80px;
	bottom: 100px;	
}

.winpositionleft {
	left: 20px;
	top: 40px;
}

.winpositionright {
	right: 20px;
	top: 40px;
}

.windowbarh {
  	position: relative;
  	background: green;
  	height: 30px;
  	width: 2px;
  	bottom: 2px;
 }

.windowbarv {
  	position: relative;
  	background: green;
  	height: 2px;
  	width: 40px;
  	top: 14px;
 }

.door {
	position: absolute;
	background: black;
	height: 66px;
	width: 40px;
	border: 2px solid white;
	right: 80px;
	top: 42px;
}

.doorhandle {
	position: absolute;
	background: white;
	height: 5px;
	width: 5px;
	border: 1px solid grey;
	border-radius: 50%;
	right: 114px;
	top: 73px; 	
}