.main{
    width: 400px;
    height: 200px;
    background-color: black;
    position: relative;
    top: 400px;
    left: 400px;
}
.door{
    width: 80px;
    height: 150px;
    background-color: gray;
    border: 3px solid white;
    position: absolute;
    top: 45px;
    left:150px; 
}
.nob{
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background-color: black;
    position: absolute;
    top:75px;
    left: 5px;
    box-shadow: 10px 10px 5px #888888;
}
.w1{
    width: 40px;
    height: 30;
    background-color: gray;
    border-bottom: 2px solid white;
    border-left: 2px solid white;
    position: absolute;
    left: 60px;
    top: 20px;
}
.w2{
    width: 40px;
    height: 30;
    background-color: gray;
    position: absolute;
    top: 20px;
    left: 20px;
}
.w3{
    width: 40px;
    height: 30;
    background-color: gray;
    border-top: 2px solid white;
    position: absolute;
    top: 50px;
    left: 20px;
}
.w4{
    width: 40px;
    height: 30;
    background-color: gray;
    border-top: 2px solid white;
    border-left: 2px solid white;
    position: absolute;
    top: 50px;
    left: 60px;
}

.w5{
    width: 80px;
    height: 60px;
    background-color: gray;
    position: absolute;
    right:20px;
    top:20px;

}
.w5-1{
    width: 2px;
    height: 60px;
    background-color: white;
    position: absolute;
    left: 40px;
}
.w5-2{
    width: 80px;
    height: 2px;
    background-color: white;
    position: absolute;
    top:30px;

}
.floor{
    width: 0;
    height: 0;
    border-left: 200px solid transparent;
    border-right: 200px solid transparent;
    border-bottom: 200px solid black;
    position: relative;
    left: 400px;
}
.window3 {
    width: 80px;
    height: 60px;
    background-color: gray;
    position: absolute;
    top:100px;
    left: -45px;
}
.w3-1{
    width: 2px;
    height: 60px;
    background-color: white;
    position: absolute;
    left: 40px;
}
.w3-2{
    width: 80px;
    height: 2px;
    background-color: white;
    position: absolute;
    top:30px;

}
.roof1{
    width: 20px;
    height: 344px;
    background-color: black;
    transform: rotate(45deg);
    position: absolute;
    top:132px;
    left: 482px;
}
.roof2{
    width: 20px;
    height: 344px;
    background-color: black;
    transform: rotate(315deg);
    position: absolute;
    top:130px;
    left: 713px;
}

.chim-base{
    width: 0;
    height: 0;
    border-top: 100px solid black;
    border-left: 100px solid transparent;
    position: absolute;
    top:250px;
    left: 690px;

}

.chim1{
    width: 100px;
    height: 100px;
    background-color: black;
    position: absolute;
    top:150px;
    left: 690px;

}
.chim-head{
    width: 130px;
    height: 20px;
    border-radius: 10px;
    background-color: black;
    position: absolute;
    top:127px;
    left: 675px;

}