.building{
    position: relative;
    left:300px;
    top:400px;
}
.main{
    width: 800px;
    height: 200px;
    background-color: purple;
    position: relative

}
.w-01{
    width: 20px;
    height: 40px;
    background-color: black;
    position: absolute;
    top: 30px;
    left: 20px;
}
.w-02{
    width: 20px;
    height: 40px;
    background-color: black;
    position: absolute;
    top: 30px;
    left: 80px;
}
.w-03{
    width: 20px;
    height: 40px;
    background-color: black;
    position: absolute;
    top: 30px;
    left: 140px;
}
.w-04{
    width: 20px;
    height: 40px;
    background-color: black;
    position: absolute;
    top: 30px;
    left: 200px;
}
.w-05{
    width: 20px;
    height: 40px;
    background-color: black;
    position: absolute;
    top: 100px;
    left: 20px;
}
.w-06{
    width: 20px;
    height: 40px;
    background-color: black;
    position: absolute;
    top: 100px;
    left: 80px;
}
.w-07{
    width: 20px;
    height: 40px;
    background-color: black;
    position: absolute;
    top: 100px;
    left: 140px;
}
.w-08{
    width: 20px;
    height: 40px;
    background-color: black;
    position: absolute;
    top: 100px;
    left: 200px;
}
.w-09{
    width: 20px;
    height: 40px;
    background-color: black;
    position: absolute;
    top: 30px;
    right: 20px;
}
.w-10{
    width: 20px;
    height: 40px;
    background-color: black;
    position: absolute;
    top: 30px;
    right: 80px;
}
.w-11{
    width: 20px;
    height: 40px;
    background-color: black;
    position: absolute;
    top: 30px;
    right: 140px;
}
.w-12{
    width: 20px;
    height: 40px;
    background-color: black;
    position: absolute;
    top: 30px;
    right: 200px;
}
.w-13{
    width: 20px;
    height: 40px;
    background-color: black;
    position: absolute;
    top: 100px;
    right: 20px;
}
.w-14{
    width: 20px;
    height: 40px;
    background-color: black;
    position: absolute;
    top: 100px;
    right: 80px;
}
.w-15{
    width: 20px;
    height: 40px;
    background-color: black;
    position: absolute;
    top: 100px;
    right: 140px;
}
.w-16{
    width: 20px;
    height: 40px;
    background-color: black;
    position: absolute;
    top: 100px;
    right: 200px;
}
.left-ad{
    width: 40px;
    height: 120px;
    background-color: purple;
    position: absolute;
    left: -40px;
    top:80px;
}

.left-ad-w{
    width: 15px;
    height: 90px;
    background-color: black;
    position: absolute;
    top:15px;
    left: 15px;
}
.right-ad{
    width: 40px;
    height: 120px;
    background-color: purple;
    position: absolute;
    right: -40px;
    top: 80px;
}

.right-ad-w{
    width: 15px;
    height: 90px;
    background-color: black;
    position: absolute;
    top:15px;
    right: 15px;
}

.small-w-1{
    width: 15px;
    height: 30px;
    background-color: black;
    position: absolute;
    top: 35px;
    left: 240px;

}
.small-w-2{
    width: 15px;
    height: 30px;
    background-color: black;
    position: absolute;
    top: 35px;
    left: 270px;

}
.small-w-3{
    width: 15px;
    height: 30px;
    background-color: black;
    position: absolute;
    top: 35px;
    left: 300px;

}
.small-w-4{
    width: 15px;
    height: 30px;
    background-color: black;
    position: absolute;
    top: 105px;
    left: 240px;

}
.small-w-5{
    width: 15px;
    height: 30px;
    background-color: black;
    position: absolute;
    top: 105px;
    left: 270px;

}
.small-w-6{
    width: 15px;
    height: 30px;
    background-color: black;
    position: absolute;
    top: 105px;
    left: 300px;

}
.small-w-7{
    width: 15px;
    height: 30px;
    background-color: black;
    position: absolute;
    top: 35px;
    right: 240px;

}
.small-w-8{
    width: 15px;
    height: 30px;
    background-color: black;
    position: absolute;
    top: 35px;
    right: 270px;

}
.small-w-9{
    width: 15px;
    height: 30px;
    background-color: black;
    position: absolute;
    top: 35px;
    right: 300px;

}
.small-w-10{
    width: 15px;
    height: 30px;
    background-color: black;
    position: absolute;
    top: 105px;
    right: 240px;

}
.small-w-11{
    width: 15px;
    height: 30px;
    background-color: black;
    position: absolute;
    top: 105px;
    right: 270px;

}
.small-w-12{
    width: 15px;
    height: 30px;
    background-color: black;
    position: absolute;
    top: 105px;
    right: 300px;

}

/*head start from hear*/


.stair-1{
    width: 300px;
    height: 5px;
    background-color: plum;
    position: absolute;
    top: 195px;
    left: 250px;
}
.stair-2{
    width: 290px;
    height: 5px;
    background-color: plum;
    position: absolute;
    top: 190px;
    left: 255px;
}
.stair-3{
    width: 280px;
    height: 5px;
    background-color: plum;
    position: absolute;
    top: 185px;
    left: 260px;
}
.stair-4{
    width: 270px;
    height: 5px;
    background-color: plum;
    position: absolute;
    top: 180px;
    left: 265px;
}
.stair-5{
    width: 260px;
    height: 5px;
    background-color: plum;
    position: absolute;
    top: 175px;
    left: 270px;
}
.stair-6{
    width: 250px;
    height: 5px;
    background-color: plum;
    position: absolute;
    top: 170px;
    left: 275px;
}
.pillar-1{
    width: 15px;
    height: 90px;
    background-color: plum;
    position: absolute;
    top: 85px;
    left: 285px;
}
.pillar-2{
    width: 15px;
    height: 90px;
    background-color: plum;
    position: absolute;
    top: 85px;
    left: 325px;
}
.pillar-3{
    width: 15px;
    height: 90px;
    background-color: plum;
    position: absolute;
    top: 85px;
    left: 350px;
}
.pillar-4{
    width: 15px;
    height: 90px;
    background-color: plum;
    position: absolute;
    top: 85px;
    right: 285px;
}
.pillar-5{
    width: 15px;
    height: 90px;
    background-color: plum;
    position: absolute;
    top: 85px;
    right: 325px;
}
.pillar-6{
    width: 15px;
    height: 90px;
    background-color: plum;
    position: absolute;
    top: 85px;
    right: 350px;
}

.roof{
    width: 250px;
    height: 20px;
    background-color: plum;
    position: absolute;
    top: 70px;
    left: 275px;
}
.triangle{
    width: 0;
    height: 0;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-bottom: 40px solid plum;
    position: absolute;
    top: 30px;
    left: 300px;

}
.inner-triangle{
    width: 0;
    height: 0;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-bottom: 40px solid black;
    position: absolute;
    left: -100px;
    top: 10px;

}
.cyrcle{
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background-color: plum;
    position: absolute;
    top:22px;
    left: -10px;

}

.door{
    width: 60px;
    height: 70px;
    background-color: black;
    position: absolute;
    left: 370px;
    top: 100px;
}

top-L.{
    position: relative;
    left: 100px;
}
.top-left-1{
    width: 200px;
    height: 20px;
    background-color: purple;
    position: absolute;
    top: -20px;
}
.top-left{
    width: 220px;
    height: 20px;
    background-color: purple;
    position: absolute;
    top: -40px;
    left: -10px;
}
.top-right-1{
    width: 200px;
    height: 20px;
    background-color: purple;
    position: absolute;
    top: -20px;
    left: 600px;


}
.top-right{
    width: 220px;
    height: 20px;
    background-color: purple ;
    position: absolute;
    top: -40px;
    left: 590px;

}
.top-c-1{
    width: 300px;
    height: 5px;
    background-color: purple;
    position: absolute;
    top: -5px;
    left: 250px;
}
.top-c-2{
    width: 290px;
    height: 5px;
    background-color: purple;
    position: absolute;
    top: -10px;
    left: 255px;
}
.top-c-3{
    width: 280px;
    height: 5px;
    background-color: purple;
    position: absolute;
    top: -15px;
    left: 260px;
}
.top-c-4{
    width: 270px;
    height: 5px;
    background-color: purple;
    position: absolute;
    top: -20px;
    left: 265px;
}
.top-c-5{
    width: 260px;
    height: 5px;
    background-color: purple;
    position: absolute;
    top: -25px;
    left: 270px;
}
.top-c-6{
    width: 250px;
    height: 5px;
    background-color: purple;
    position: absolute;
    top: -30px;
    left: 275px;
}
.top-c-big{
    width: 250px;
    height: 80px;
    background-color: purple;
    position: relative;
    top:-300px;
    left: 275px;

}
.top-c-b-w1{
    width: 20px;
    height: 25px;
    background-color: black;
    position: absolute;
    top: 25px;
    left: 20px;
}
.top-c-b-w2{
    width: 20px;
    height: 25px;
    background-color: black;
    position: absolute;
    top: 25px;
    left: 50px;
}
.top-c-b-w3{
    width: 20px;
    height: 25px;
    background-color: black;
    position: absolute;
    top: 25px;
    left: 80px;
}
.top-c-b-w4{
    width: 20px;
    height: 25px;
    background-color: black;
    position: absolute;
    top: 25px;
    left: 110px;
}
.top-c-b-w5{
    width: 20px;
    height: 25px;
    background-color: black;
    position: absolute;
    top: 25px;
    left: 140px;
}
.top-c-b-w6{
    width: 20px;
    height: 25px;
    background-color: black;
    position: absolute;
    top: 25px;
    left: 170px;
}
.top-c-b-w7{
    width: 20px;
    height: 25px;
    background-color: black;
    position: absolute;
    top: 25px;
    left: 200px;
}
.top-c-b-head1{
    width: 260px;
    height: 5px;
    background-color: purple;
    position: absolute;
    left: -5px;
    top: -5px;
}
.top-c-b-head2{
    width: 270px;
    height: 5px;
    background-color: purple;
    position: absolute;
    left: -10px;
    top: -10px;
}
.top-c-b-head3{
    width: 280px;
    height: 5px;
    background-color: purple;
    position: absolute;
    left: -15px;
    top: -15px;
}
.half-circle{
     height: 140px;
     width: 280px;
     border-top-left-radius: 280px;
     border-top-right-radius: 280px;
     background-color: purple;
     position: absolute;
     top: -157px;
     left: -15px;
}
.antena{
    width: 3px;
    height: 150px;
    background-color: purple;
    position: absolute;
    left: 140px;
    top: -140px;

}