.main-block{
    width: 145px;
    height: 295px;
    background-color: #b37878;
    position: relative;
    top: 400px;
    left: 400px;
}
.base-window1{
  width: 132px;
    height: 184px;
    background-color: #ffd600;
    position: absolute;
    left: 6px;
    top: 7px;
}
.window-separator1{
   left: 109px;
    background-color: #b37878;
    width: 8px;
    height: 184px;
    position: absolute;
}
.window-separator2{
    width: 133px;
    position: absolute;
    top: 159px;
    height: 10px;
    background-color: #b37878;
}
.window-separator3{
    left: 24px;
    background-color: #b37878;
    width: 8px;
    height: 186px;
    position: absolute;
}
.window-separator4{
    width: 133px;
    position: absolute;
    top: 31px;
    height: 14px;
    background-color: #b37878;   
}
.window-separator5{
   width: 133px;
    position: absolute;
    top: 80px;
    height: 11px;
    background-color: #b37878;
}
.window-separator6{
   width: 135px;
    position: absolute;
    top: 126px;
    height: 8px;
    background-color: #b37878;
}
#main-door{
    width: 30%;
    position: absolute;
    top: 73%;
    left: 39%;
    height: 27%;
    background-color: #ffd600;   
}
.door-handle{
    width: 10px;
    height: 10px;
    top: 37px;
    left: 30px;
    border-radius: 54px;
    position: absolute;
    background-color: #131111;
}
.top-bar{
   width: 121px;
    height: 17px;
    background-color: #c5441b;
    position: relative;
    top: -17px;
    left: 12px;
}
.left-side-block{
   width: 91px;
    height: 173px;
    background-color: rgba(144, 11, 71, 0.74);
    position: relative;
    top: 227px;
    left: 310px;
}
.small-window1{
    width: 81px;
    height: 102px;
    background-color: #ffd600;
    position: absolute;
    left: 10px;
    top: 12px;
}
.small-separator1{
   left: 66px;
    background-color: rgba(144, 11, 71, 0.74);
    width: 6px;
    height: 105px;
    position: absolute;
}
.small-separator2{
    width: 82px;
    position: absolute;
    top: 84px;
    height: 6px;
    background-color: rgba(144, 11, 71, 0.74);   
}
.small-separator3{
    left: 18px;
    background-color: rgba(144, 11, 71, 0.74);
    width: 6px;
    height: 104px;
    position: absolute;
}
.small-separator4{
    width: 81px;
    position: absolute;
    top: 15px;
    height: 6px;
    background-color: rgba(144, 11, 71, 0.74);    
}
.small-separator5{
    width: 82px;
    position: absolute;
    top: 40px;
    height: 7px;
    background-color: rgba(144, 11, 71, 0.74);
}
.small-separator6{
    width: 81px;
    position: absolute;
    top: 64px;
    height: 8px;
    background-color: rgba(144, 11, 71, 0.74);   
}
.small-door{
    width: 30%;
    position: absolute;
    top: 73%;
    left: 39%;
    height: 27%;
    background-color: #ffd600;  
}
.small-door-handle{
    width: 6px;
    height: 6px;
    top: 19px;
    left: 21px;
    border-radius: 54px;
    position: absolute;
    background-color: #131111;
}
.small-top-bar1{
    width: 78px;
    height: 10px;
    background-color: #c5441b;
    position: relative;
    top: -10px;
    left: 13px;
}
.right-side-block{
   width: 91px;
    height: 173px;
    background-color: rgba(144, 11, 71, 0.74);
    position: relative;
    top: 54px;
    left: 544px;
}
.small-top-bar2{
    width: 78px;
    height: 10px;
    background-color: #c5441b;
    position: relative;
    top: -10px;
    left: 0px;
}
.small-window2{
    width: 81px;
    height: 102px;
    background-color: #ffd600;
    position: absolute;
    left: 0px;
    top: 12px;
}